<div class="row">
  <div class="col-md-3 col-sm-6 col-xs-12 dashboard-menu-button">
    <%= link_to admins_path, class: 'info-box' do %>
      <span class="info-box-icon bg-asoban"><i class="fa fa-tasks"></i></span>

      <div class="info-box-content text-center">
        <h3 class="info-box-text">Administradores</h3>
        <span class="info-box-number"><button type="button" name="button" class="btn btn-asoban">Administrar</button></span>
      </div>
      <!-- /.info-box-content -->
    <% end %>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->

  <div class="col-md-3 col-sm-6 col-xs-12 dashboard-menu-button">
    <%= link_to contacts_path, class: 'info-box' do %>
      <span class="info-box-icon bg-asoban"><i class="fa fa-phone"></i></span>

      <div class="info-box-content text-center">
        <h3 class="info-box-text">Contactos</h3>
        <span class="info-box-number"><button type="button" name="button" class="btn btn-asoban">Administrar</button></span>
      </div>
      <!-- /.info-box-content -->
    <% end %>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->

  <div class="col-md-3 col-sm-6 col-xs-12 dashboard-menu-button">
    <%= link_to articles_path, class: 'info-box' do %>
      <span class="info-box-icon bg-asoban"><i class="fa fa-newspaper-o"></i></span>

      <div class="info-box-content text-center">
        <h3 class="info-box-text">Artículos</h3>
        <span class="info-box-number"><button type="button" name="button" class="btn btn-asoban">Administrar</button></span>
      </div>
      <!-- /.info-box-content -->
    <% end %>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->

  <div class="col-md-3 col-sm-6 col-xs-12 dashboard-menu-button">
    <%= link_to newsletters_path, class: 'info-box' do %>
      <span class="info-box-icon bg-asoban"><i class="fa fa-envelope-square"></i></span>

      <div class="info-box-content text-center">
        <h3 class="info-box-text">Boletín</h3>
        <span class="info-box-number"><button type="button" name="button" class="btn btn-asoban">Administrar</button></span>
      </div>
      <!-- /.info-box-content -->
    <% end %>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->

  <div class="col-md-3 col-sm-6 col-xs-12 dashboard-menu-button">
    <%= link_to carousels_path, class: 'info-box' do %>
      <span class="info-box-icon bg-asoban"><i class="fa fa-file-image-o"></i></span>

      <div class="info-box-content text-center">
        <h3 class="info-box-text">Carrusel</h3>
        <span class="info-box-number"><button type="button" name="button" class="btn btn-asoban">Administrar</button></span>
      </div>
      <!-- /.info-box-content -->
    <% end %>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->

  <div class="col-md-3 col-sm-6 col-xs-12 dashboard-menu-button">
    <%= link_to categories_path, class: 'info-box' do %>
      <span class="info-box-icon bg-asoban"><i class="fa fa-folder"></i></span>

      <div class="info-box-content text-center">
        <h3 class="info-box-text">Categorías</h3>
        <span class="info-box-number"><button type="button" name="button" class="btn btn-asoban">Administrar</button></span>
      </div>
      <!-- /.info-box-content -->
    <% end %>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->

  <div class="col-md-3 col-sm-6 col-xs-12 dashboard-menu-button">
    <%= link_to certifications_path, class: 'info-box' do %>
      <span class="info-box-icon bg-asoban"><i class="fa fa-certificate"></i></span>

      <div class="info-box-content text-center">
        <h3 class="info-box-text">Certificados</h3>
        <span class="info-box-number"><button type="button" name="button" class="btn btn-asoban">Administrar</button></span>
      </div>
      <!-- /.info-box-content -->
    <% end %>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->

  <div class="col-md-3 col-sm-6 col-xs-12 dashboard-menu-button">
    <%= link_to contacts_path, class: 'info-box' do %>
      <span class="info-box-icon bg-asoban"><i class="fa fa-phone"></i></span>

      <div class="info-box-content text-center">
        <h3 class="info-box-text">Contactos</h3>
        <span class="info-box-number"><button type="button" name="button" class="btn btn-asoban">Administrar</button></span>
      </div>
      <!-- /.info-box-content -->
    <% end %>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->

  <div class="col-md-3 col-sm-6 col-xs-12 dashboard-menu-button">
    <%= link_to links_path, class: 'info-box' do %>
      <span class="info-box-icon bg-asoban"><i class="fa fa-link"></i></span>

      <div class="info-box-content text-center">
        <h3 class="info-box-text">Enlaces</h3>
        <span class="info-box-number"><button type="button" name="button" class="btn btn-asoban">Administrar</button></span>
      </div>
      <!-- /.info-box-content -->
    <% end %>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->

  <div class="col-md-3 col-sm-6 col-xs-12 dashboard-menu-button">
    <%= link_to events_path, class: 'info-box' do %>
      <span class="info-box-icon bg-asoban"><i class="fa fa-glass"></i></span>

      <div class="info-box-content text-center">
        <h3 class="info-box-text">Eventos</h3>
        <span class="info-box-number"><button type="button" name="button" class="btn btn-asoban">Administrar</button></span>
      </div>
      <!-- /.info-box-content -->
    <% end %>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->

  <div class="col-md-3 col-sm-6 col-xs-12 dashboard-menu-button">
    <%= link_to galleries_path, class: 'info-box' do %>
      <span class="info-box-icon bg-asoban"><i class="fa fa-camera"></i></span>

      <div class="info-box-content text-center">
        <h3 class="info-box-text">Multimedia</h3>
        <span class="info-box-number"><button type="button" name="button" class="btn btn-asoban">Administrar</button></span>
      </div>
      <!-- /.info-box-content -->
    <% end %>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->

  <div class="col-md-3 col-sm-6 col-xs-12 dashboard-menu-button">
    <%= link_to messages_path, class: 'info-box' do %>
      <span class="info-box-icon bg-asoban"><i class="fa fa-envelope"></i></span>

      <div class="info-box-content text-center">
        <h3 class="info-box-text">Mensajes</h3>
        <span class="info-box-number"><button type="button" name="button" class="btn btn-asoban">Administrar</button></span>
      </div>
      <!-- /.info-box-content -->
    <% end %>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->

  <div class="col-md-3 col-sm-6 col-xs-12 dashboard-menu-button">
    <%= link_to abouts_path, class: 'info-box' do %>
      <span class="info-box-icon bg-asoban"><i class="fa fa-briefcase"></i></span>

      <div class="info-box-content text-center">
        <h3 class="info-box-text">Nosotros</h3>
        <span class="info-box-number"><button type="button" name="button" class="btn btn-asoban">Administrar</button></span>
      </div>
      <!-- /.info-box-content -->
    <% end %>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->

  <div class="col-md-3 col-sm-6 col-xs-12 dashboard-menu-button">
    <%= link_to faqs_path, class: 'info-box' do %>
      <span class="info-box-icon bg-asoban"><i class="fa fa-question-circle-o"></i></span>

      <div class="info-box-content text-center">
        <h3 class="info-box-text">Preguntas</h3>
        <span class="info-box-number"><button type="button" name="button" class="btn btn-asoban">Administrar</button></span>
      </div>
      <!-- /.info-box-content -->
    <% end %>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->

  <div class="col-md-3 col-sm-6 col-xs-12 dashboard-menu-button">
    <%= link_to cards_path, class: 'info-box' do %>
      <span class="info-box-icon bg-asoban"><i class="fa fa-folder"></i></span>

      <div class="info-box-content text-center">
        <h3 class="info-box-text">Tarjetas</h3>
        <span class="info-box-number"><button type="button" name="button" class="btn btn-asoban">Administrar</button></span>
      </div>
      <!-- /.info-box-content -->
    <% end %>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->

  <div class="col-md-3 col-sm-6 col-xs-12 dashboard-menu-button">
    <%= link_to boxes_path, class: 'info-box' do %>
      <span class="info-box-icon bg-asoban"><i class="fa fa-th-large"></i></span>

      <div class="info-box-content text-center">
        <h3 class="info-box-text">Tarjetas iniciales</h3>
        <span class="info-box-number"><button type="button" name="button" class="btn btn-asoban">Administrar</button></span>
      </div>
      <!-- /.info-box-content -->
    <% end %>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->
</div>
