

<h1 class="text-center">Boletín</h1>

<% if notice.present? %>
  <div class="alert alert-asoban">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <div id="notice"> <%= notice %> </div>
  </div>
<% end %>

<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <div class="box">
      <div class="box-header">
      </div>
      <!-- /.box-header -->
      <div class="box-body table-responsive">
        <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th>Título</th>
              <th>Contenido</th>
              <th colspan="2"></th>
            </tr>
          </thead>

          <tbody>
            <% @newsletters.each do |newsletter| %>
              <tr>
                <td><%= newsletter.title %></td>
                <td><%= newsletter.description %></td>
                <td><%= link_to 'Eliminar', newsletter, method: :delete, data: { confirm: '¿Está seguro que desea eliminar este registro?' }, class: 'btn btn-asoban-inverse' %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <!-- /.box-body -->
      <div class="box-footer">
        <%= link_to 'Nuevo Boletín', new_newsletter_path, class: 'btn btn-asoban' %>
      </div>
    </div>
    <!-- /.box -->
  </div>
</div>
