<ul>
  <li>
    <%= link_to('Inicio', root_path)  %>
  </li>
  <li>
    <%= link_to('Panel de control', dashboard_path)  %>
  </li>
  <li>
    <%= link_to("Preguntas", faqs_path)  %>
  </li>
  <li>
    <%= link_to("Contacto", contacts_path)  %>
  </li>
  <li>
    <%= link_to("Nosotros", abouts_path)  %>
  </li>
  <li>
    <%= link_to("Buscar", search_path)  %>
  </li>
</ul>
