<br>

<h1 class="text-center">Contactos</h1>

<% if notice.present? %>
  <div class="alert alert-asoban">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <div id="notice"> <%= notice %> </div>
  </div>
<% end %>

<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <div class="box">
      <div class="box-header">
      </div>
      <!-- /.box-header -->
      <div class="box-body table-responsive">
        <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th>Dirección</th>
              <th>Ciudad</th>
              <th>Correo Electrónico</th>
              <th>Numero de teléfono</th>
              <th colspan="2">Opciones</th>
            </tr>
          </thead>

          <tbody>
            <% @contacts.each do |contact| %>
              <tr>
                <td><%= contact.address %></td>
                <td><%= contact.city %></td>
                <td>
                  <% contact.emails.split('%').each do |email| %>
                    <p><%= email %></p>
                  <% end %>
                </td>
                <td>
                  <% contact.phone_numbers.split('%').each do |phone_number| %>
                    <p><%= phone_number %></p>
                  <% end %>
                </td>
                <td><%= link_to 'Editar', edit_contact_path(contact), class: 'btn btn-asoban' %></td>
                <td><%= link_to 'Eliminar', contact, method: :delete, data: { confirm: '¿Está seguro que desea eliminar este registro?' }, class: 'btn btn-asoban-inverse' %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <!-- /.box-body -->
      <div class="box-footer">
        <%= link_to 'Nuevo Contacto', new_contact_path, class: 'btn btn-asoban' %>
      </div>
    </div>
    <!-- /.box -->
  </div>
</div>
