<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
      <li>
        <%= link_to dashboard_path do %>
          <i class="fa fa-th"></i> <span>Panel de Control</span>
        <% end %>
      </li>
      <li>
        <%= link_to admins_path do %>
        <i class="fa fa-tasks"></i> <span>Administradores</span>
        <% end %>
      </li>
      <li>
        <%= link_to articles_path do %>
        <i class="fa fa-newspaper-o"></i> <span>Artículos</span>
        <% end %>
      </li>
      <li>
        <%= link_to newsletters_path do %>
        <i class="fa fa-envelope-square"></i> <span>Boletín</span>
        <% end %>
      </li>
      <li>
        <%= link_to carousels_path do %>
        <i class="fa fa-file-image-o"></i> <span>Carrusel</span>
        <% end %>
      </li>
      <li>
        <%= link_to categories_path do %>
        <i class="fa fa-folder"></i> <span>Categorías</span>
        <% end %>
      </li>
      <li>
        <%= link_to certifications_path do %>
        <i class="fa fa-certificate"></i> <span>Certificados</span>
        <% end %>
      </li>
      <li>
        <%= link_to contacts_path do %>
        <i class="fa fa-phone"></i> <span>Contactos</span>
        <% end %>
      </li>
      <li>
        <%= link_to links_path do %>
        <i class="fa fa-link"></i> <span>Enlaces</span>
        <% end %>
      </li>
      <li>
        <%= link_to events_path do %>
        <i class="fa fa-glass"></i> <span>Eventos</span>
        <% end %>
      </li>
      <li>
        <%= link_to galleries_path do %>
        <i class="fa fa-camera"></i> <span>Multimedia</span>
        <% end %>
      </li>
      <li>
        <%= link_to messages_path do %>
        <i class="fa fa-envelope"></i> <span>Mensajes</span>
        <% end %>
      </li>
      <li>
        <%= link_to abouts_path do %>
          <i class="fa fa-briefcase"></i> <span>Nosotros</span>
        <% end %>
      </li>
      <li>
        <%= link_to faqs_path do %>
        <i class="fa fa-question-circle-o"></i> <span>Preguntas</span>
        <% end %>
      </li>
      <li>
        <%= link_to cards_path do %>
          <i class="fa fa-folder"></i> <span>Tarjetas</span>
        <% end %>
      </li>
      <li>
        <%= link_to boxes_path do %>
        <i class="fa fa-th-large"></i> <span>Tarjetas iniciales</span>
        <% end %>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
